name: Product Preview Export

on:
  schedule:
    - cron: '0 2 * * *' # run at 2 AM UTC
  workflow_dispatch:

jobs:
  export:
    runs-on: ubuntu-22.04

    steps:
    - name: Maximize build space
      uses: easimon/maximize-build-space@master
      with:
        root-reserve-mb: 512
        swap-size-mb: 1024
        remove-dotnet: 'true'
        remove-android: 'true'
        remove-haskell: 'true'
        
    - name: Checkout Repository
      uses: actions/checkout@v5
      with:
        submodules: true
    
    - name: Download OpenFoodFacts JSONL
      run: | 
        curl -L --fail --progress-bar https://static.openfoodfacts.org/data/openfoodfacts-products.jsonl.gz | gunzip > openfoodfacts-products.jsonl
    
    - name: Create Product Preview JSON files
      run: |
        mkdir public
        swift run ProductPreviews
    
    - name: Update nightly release
      run: gh release upload nightly public/* --clobber
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

